<html>
  <body>
    <p><img src="https://yourdomain.com/logo.png" alt="Logo" style="width:120px;height:auto;"></p>
    <p>Halo {{ email }},</p>
    <p>Kamu menerima permintaan untuk reset kata sandi akun mu di Pintu Universitas.
Klik tombol di bawah ini untuk membuat kata sandi baru:</p>
    <p>
      <a href="{{ reset_link }}" style="
           display: inline-block;
           padding: 12px 24px;
           background-color: #152D64;
           color: white;
           text-decoration: none;
           border-radius: 5px;
           font-weight: bold;">
        👉 Reset Password Sekarang
      </a>
    </p>
    <p>Tautan ini aktif selama 30 menit aja ya.</p>
<br>
    <p>Request dilakukan dari IP: {{ ip }}<br>
       Device / Browser: {{ device }}</p>
    <p>Kalau kamu tidak meminta reset password, abaikan email ini.</p>

  <br>
  <p>Salam hangat, </p>
  <br>
  <p>
Tim Pintu Universitas
</p>
  </body>
</html>
